.flex-container {
    display: flex;
    /* background-color: DodgerBlue; */
    flex-direction: column;

  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;



    /* background-color: red; */
      /* justify-content: center; */

  }

  .cell{
      /* background-color: darkblue; */
      padding: 3%;
      margin: 3%;
      flex-grow: 1;



  }